.card{
    background-color: rgba(35, 35, 38, 0.701);
}

#mytxt{
    background-color: rgba(35, 35, 38, 0.701);
    color: white;
}
.option{
    background-color: rgba(35, 35, 38, 0.701);
    color: white;
}